    <div class="dashboard-container">
  <h2>Dashboard de Veículos Selecionados</h2>

  <div class="x" *ngIf="selectedCars.length === 0">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg>
  </div>
  
  <div *ngIf="selectedCars.length === 0" class="no-cars-message">
    <p>Nenhum veículo selecionado. Por favor, retorne ao catálogo e selecione alguns veículos.</p>
  </div>
  
  <div *ngIf="selectedCars.length > 0" class="dashboard-content">
    <div class="stats-cards">
      <div class="stat-card">
        <h3>Veículos Selecionados</h3>
        <div class="stat-value">{{selectedCars.length}}</div>
      </div>
    </div>
    
    <div class="selected-cars-list">
      <h3>Detalhes dos Veículos</h3>
      
      <table>
        <tbody *ngFor="let car of selectedCars">
          <tr style="background-color: transparent;">
            <th style="background-color: transparent;">&nbsp;</th>
            <td style="display: flex; justify-content: center; background-color: transparent;"><img [src]="car.imageUrl" alt="{{car.brand}} {{car.model}}" class="car-image"></td>
          </tr>
          <tr>
            <th>Marca</th>
            <td>{{car.brand}}</td>
          </tr>
          <tr>
            <th>Modelo</th>
            <td>{{car.model}}</td>
          </tr>
          <tr>
            <th>Ano</th>
            <td>{{car.year}}</td>
          </tr>
          <tr>
            <th>Preço</th>
            <td>R$ {{car.price | number:'1.2'}}</td>
          </tr>
          <tr>
            <th>Potência</th>
            <td>{{car.power}} CV</td>
          </tr>
          <tr>
            <th>Torque</th>
            <td>{{car.torque}} Nm</td>
          </tr>
          <tr>
            <th>Motorização</th>
            <td>{{car.motorization}} {{car.motorizationL}}L</td>
          </tr>
          <tr>
            <th>Aceleração <br> (0-100 km/h)</th>
            <td>{{car.acceleration}} seg</td>
          </tr>
          <tr>
            <th>Velocidade máxima</th>
            <td>{{car.vmax}} km/h</td>
          </tr>
          <tr><td colspan="2"><hr></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="back-router">
    <button (click)="backRouter()">Voltar ao Catálogo</button>
  </div>
</div>