<div class="car-container">
  <div class="car-card" style="--order: 1">
      <div class="car-image bg-1"></div>
      <div class="badge">1</div>
      <div class="car-info">
          <h2 class="brand">FORD</h2>
          <p class="model"></p>
          <span class="year"></span>
      </div>
  </div>

  <div class="car-card" style="--order: 2">
      <div class="car-image bg-2"></div>
      <div class="badge">2</div>
      <div class="car-info">
          <h2 class="brand">Mercedes-Benz</h2>
          <p class="model"></p>
          <span class="year"></span>
      </div>
  </div>

  <div class="car-card" style="--order: 3">
      <div class="car-image bg-3"></div>
      <div class="badge">3</div>
      <div class="car-info">
          <h2 class="brand">BMW</h2>
          <p class="model"></p>
          <span class="year"></span>
      </div>
  </div>

</div>

