<div class="card-carro">
  @if (badgeClass) {
    <div class="badge {{badgeClass}}">
      @switch (badgeClass) {
        @case ('badge-novo') { NOVO }
        @case ('badge-vendido') { TOP }
      }
    </div>
  }
  
  <img [src]="carro.imageUrl" [alt]="carro.brand + ' ' + carro.model" loading="lazy">
  
  <div class="carro-info">
    <h3>{{carro.brand}} {{carro.model}}</h3>
    <p>{{carro.year}} • {{carro.vmax}} km/h •</p>
    <!-- <p class="preco">{{carro.price | currency:'BRL'}}</p> -->
    
    <!-- <div class="carro-actions">
      <button class="btn-detalhes">Ver detalhes</button>
      <button class="btn-contato">Falar com vendedor</button>
    </div> -->
  </div>
</div>