.catalog-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
}

h2 {
  color: #333;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 10px;
  font-family: "Montsettat", sans-serif;
}

p {
  font-size: 0.8rem;
  margin-bottom: 20px;
  color: #666;
  font-family: "Poppins", sans-serif;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: right;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.select-btn {
  background-color: #4CAF50;
  color: white;
}

.select-btn:hover {
  background-color: #45a049;
}

.deselect-btn {
  background-color: #f44336;
  color: white;
}

.deselect-btn:hover {
  background-color: #d32f2f;
}


.cars-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.car-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.car-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
  font-family: 'Oswald', sans-serif;
}

.checkbox-container {
  margin-right: 40px;
}

.checkbox-container input {
  position: relative;
  cursor: pointer;
}
.checkbox-container input:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color:#b8b8b8;
}
.checkbox-container input:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background-color:#1E80EF;
}
.checkbox-container input:checked:after {
  content: "";
  display: block;
  width: 12px;
  height: 20px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 12px;
}

.car-header h3 {
  margin: 0;
  font-size: 18px;
}

.car-image {
  height: 180px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.car-image img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.car-details {
  padding: 15px;
  border-top: solid 1px #0EA5E9;
}

.car-details p {
  margin: 8px 0;
}

.dashboard-router {
  text-align: center;
  margin: 50px;
}

.dashboard-router button {
  padding: 15px 50px;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  color: white;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.dashboard-router:hover button {
  background-color: #0d69b4;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}