<app-header></app-header>

<div class="container">
    <div class="intro">
        <h1>TERMOS E POLÍTICA DE PRIVACIDADE DE DADOS</h1><br><br>

        <p>A SpecDrive Concessionária respeita a sua privacidade e compreende que o tratamento dos seus dados pessoais requer a sua confiança. Por isso desenvolvemos esta Política de Privacidade e Termos de Uso ("Política"), que descreve nossas práticas relacionadas ao tratamento de dados pessoais, em conformidade com as exigências legais, e o nosso compromisso com você.</p>
        
        <p>Recomendamos que você leia esta Política de Privacidade com atenção antes do início de sua navegação em nosso website ("website") e do fornecimento de seus dados pessoais por qualquer dos meios abrangidos por esta Política. Ao fornecer seus dados para a SpecDrive, você, por sua livre e expressa concordância, declara que é maior de 18 (dezoito) anos de idade e aceita o conteúdo da presente Política. Se tiver menos de 18 (dezoito) anos, por favor, não nos disponibilize os seus dados pessoais.</p>
        
        <p>Caso não concorde com a presente Política de Privacidade e Termos de Uso, por favor, não navegue no website e, tampouco, forneça seus dados pessoais para a SpecDrive Concessionária.</p>
        
        <p>Podemos alterar a Política de Privacidade a qualquer tempo, por isso solicitamos que você a consulte periodicamente, de preferência sempre que voltar a acessar nosso website e sempre que optar por nos fornecer seus dados pessoais. Nós avisaremos quando fizermos qualquer alteração substancial, inclusive para que você possa manifestar sua concordância ao acessar o nosso website.</p>
    </div>
    
    <div id="compromisso" class="section">
        <h2>1. Nosso compromisso em proteger sua privacidade e dados pessoais</h2>
        
        <p>A presente Política de Privacidade estabelece a forma como a SpecDrive Concessionária trata os dados pessoais dos seus clientes e dos seus potenciais clientes e é aplicável aos dados fornecidos a partir do website www.SpecDrive.com.br, das ferramentas de integração com redes sociais, bem como de eventos e ações promocionais realizados pela SpecDrive Concessionária.</p>
        
        <p>Para fins desta Política de Privacidade, é importante que você conheça algumas definições:</p>
        
        <ul>
            <li><strong>Titular</strong> Você é o titular de seus dados pessoais;</li>
            <li><strong>Dados pessoais</strong> toda e qualquer informação que identifique ou leve à identificação de um titular, como por exemplo, seu nome completo, RG, CPF e endereço;</li>
            <li><strong>Tratamento de dados</strong> toda e qualquer operação realizada com os dados pessoais, como produção, recepção, classificação, utilização, acesso, reprodução, transmissão, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, etc.;</li>
            <li><strong>Anonimização</strong> Processo de despersonalização dos dados pessoais por meio da remoção de qualquer associação dessas informações aos titulares a quem elas se referem.</li>
        </ul>
        
        <p>Somos adeptos dos mais elevados padrões de segurança, tratando seus dados pessoais com sigilo e apenas utilizando-os para as finalidades identificadas e de acordo com os seus direitos. Tratamos esse assunto de forma transparente e por isso, desde o início, queremos que você saiba:</p>
        
        <ul>
            <li>Durante a navegação em nosso website ou a partir dos outros meios submetidos a esta Política de Privacidade, poderemos solicitar ao titular o fornecimento, em caráter voluntário, de dados pessoais;</li>
            <li>Ao fornecer voluntariamente seus dados pessoais e aceitar esta Política, o titular autoriza a SpecDrive a realizar o tratamento de dados, o que pode incluir o compartilhamento e a transferência de dados com montadoras e empresas parceiras. Por empresas parceiras, entendem-se não apenas aquelas relacionadas às ações de marketing ou indispensáveis para atender à solicitação de serviço/produto, mas também nossos fornecedores e outras que sejam relacionadas e necessárias para atender aos interesses legítimos da SpecDrive e/ou ao cumprimento de obrigação legal;</li>
            <li>Ao solicitar à SpecDrive a prestação de qualquer serviço ou adquirir qualquer produto, o titular fica ciente de que serão requeridos seus dados pessoais e que estes poderão ser transferidos para as montadoras para os procedimentos relacionados à prestação do serviço solicitado ou entrega do produto adquirido;</li>
            <li>Em algumas situações, também podemos tratar dados pessoais seus que nos foram enviados por montadoras, por nossos parceiros ou por terceiros, desde que observados os requisitos da legislação;</li>
            <li>Nossa intenção é coletar e tratar a menor quantidade possível de dados pessoais e por isso pretendemos tratar os dados que forem necessários para atender às finalidades aqui descritas e lhe oferecer uma melhor experiência enquanto cliente e/ou potencial cliente;</li>
            <li>O titular dos dados pessoais é você e nós respeitamos seus direitos em relação a eles. Você poderá exercê-los conforme descrito nesta Política.</li>
        </ul>
    </div>
    
    <div id="responsavel" class="section">
        <h2>2. Quem é responsável pelo tratamento dos seus dados pessoais</h2>
        
        <p>A SpecDrive Concessionária é a responsável pelo tratamento dos dados pessoais decorrentes do acesso ao website e dos dados obtidos pelos demais meios submetidos a esta Política de Privacidade. Você está ciente e concorda que podemos compartilhar seus dados com terceiros que nos auxiliam na operacionalização desse tratamento, como empresas de tecnologia, armazenamento em nuvem e outros parceiros comerciais.</p>
        
        <p>A SpecDrive irá desenvolver os seus melhores esforços para garantir que quaisquer questões relativas ao tratamento de dados pessoais sejam devidamente tratadas, a fim de lhe ser dada a necessária resposta.</p>
    </div>
    
    <div id="situacoes" class="section">
        <h2>3. Em quais situações tratamos os seus dados pessoais</h2>
        
        <p>Os seus dados pessoais poderão ser coletados e tratados pela SpecDrive nas seguintes situações:</p>
        
        <ul>
            <li>Caso nos contate por meio do website, das ferramentas de interação via redes sociais ou do serviço de apoio ao cliente da SpecDrive e se estiver interessado, por exemplo, nos nossos produtos e serviços e/ou outras solicitações;</li>
            <li>Caso adquira diretamente produtos ou serviços;</li>
            <li>Caso responda a uma das nossas campanhas ou canais de marketing (por exemplo, mediante o preenchimento de um formulário em eventos ou a disponibilização dos seus dados online em um de nossos sites ou página inicial) e opte por receber material de marketing pela SpecDrive e empresas parceiras;</li>
            <li>Se os seus dados nos forem enviados por montadoras, por nossos parceiros comerciais ou outros terceiros, desde que observados os requisitos da legislação. Isso pode ocorrer, por exemplo, quando tiver dado o seu consentimento ou se tiver pleno conhecimento do seu direito de oposição e não tiver se oposto à transmissão dos seus dados para a SpecDrive para fins de assistência ao cliente (permitindo-nos reconhecê-lo, caso entre em contato conosco) e contato por escrito (tendo em vista, por exemplo, enviar-lhe um pacote de boas-vindas após a aquisição de um veículo);</li>
            <li>Quando nos disponibiliza os dados de seu veículo, incluindo o número de identificação, no âmbito do processo de serviço e manutenção/serviço de reparação;</li>
            <li>Quando nos disponibiliza os dados pessoais e de seus veículos em campanhas de recall;</li>
            <li>Quando nos disponibiliza seus dados para quaisquer tipos de contato ou interação com nosso serviço de atendimento ao cliente, seja por telefone, seja pelo formulário disponibilizado neste site;</li>
            <li>Quando disponibiliza seus dados para simulação de produtos ou serviços;</li>
            <li>Quando nos contata por meio da Ouvidoria;</li>
            <li>Quando tivermos fundamento legal e legítimo interesse, recolheremos as informações diretamente junto a determinadas empresas, tais como agências de avaliação/controle de crédito;</li>
            <li>Participação em concurso, sorteio, questionário ou processo seletivo.</li>
        </ul>
    </div>
    
    <div id="dados" class="section">
        <h2>4. Quais dados pessoais podem ser tratados</h2>
        
        <p>Como mencionamos, a intenção da SpecDrive é tratar a menor quantidade possível de dados pessoais, por isso buscamos nos limitar aos que forem necessários para atender nossos clientes e/ou potenciais clientes e lhes oferecer uma melhor experiência. Por isso, a depender da finalidade, podemos tratar os seguintes dados:</p>
        
        <ul>
            <li><strong>Dados de contato</strong>: nome, endereço, número de telefone e endereço de e-mail;</li>
            <li><strong>Dados para emissão de ordens de compra de produtos e de serviços, de recibo e/ou nota fiscal de aquisição de produtos e serviço</strong>: nome, endereço, número de telefone, endereço de e-mail, CPF, estado civil;</li>
            <li><strong>Outros dados pessoais</strong>: informação que nos tenha sido facultada acerca, por exemplo, da sua data de aniversário, escolaridade, estado civil ou profissão;</li>
            <li><strong>Dados necessários para preenchimento de fichas cadastrais</strong> nos termos da lei ou para a correta identificação do cliente em caso de contato com nosso serviço de atendimento ao cliente;</li>
            <li><strong>Dados do contrato</strong>: número de cliente, número do contrato, dados do veículo (placa, chassi);</li>
            <li><strong>Dados decorrentes dos protocolos e registros de acesso em nossos websites</strong>, como o IP (Internet Protocol), datas e horários de acesso;</li>
            <li><strong>Informação</strong> acerca da forma como utiliza o website e sobre se abriu ou reencaminhou mensagens nossas, incluindo dados recolhidos por meio de cookies, mediante consentimento do usuário e política própria, disponível na seção Política de Cookies.</li>
            <li><strong>Dados de transações e interação</strong>: informação sobre aquisição de produtos ou serviços, interação com o serviço de apoio ao cliente da SpecDrive (os seus pedidos e/ou eventuais reclamações), bem como participação em pesquisas de mercado e também por meio dos formulários "Solicite uma Proposta" e "Atualize seu Cadastro".</li>
        </ul>
    </div>
    
    <div id="finalidades" class="section">
        <h2>5. Para que finalidades tratamos os seus dados pessoais</h2>
        
        <p>A SpecDrive obtém seus dados pessoais no contexto de acesso a este website e/ou pelos demais meios submetidos a esta Política de Privacidade e eles podem ser tratados para as finalidades abaixo identificadas.</p>
        
        <h3>A. Cumprimento de obrigações contratuais no âmbito da oferta, venda e manutenção de veículos ou produtos financeiros</h3>
        
        <p>A SpecDrive realiza o tratamento de dados pessoais de clientes e potenciais clientes no âmbito da oferta, venda e manutenção de veículos. Esses dados podem ser obtidos diretamente pela SpecDrive ou por meio das montadoras, mediante compartilhamento ou transferência de dados por parte destas, desde que observados os requisitos da legislação.</p>
        
        <p>A finalidade desse tratamento é garantir o regular cumprimento do contrato e/ou o atendimento de solicitação do cliente, por exemplo, para encomenda de veículos, ordens de reparação/oficina, garantia contratual, agendamento de serviços ou para resposta a pedidos de proposta, de test drive, dúvidas e reclamações, dentre outros.</p>
        
        <p>A SpecDrive também trata os seus dados para otimizar a sua experiência com o serviço de apoio ao cliente. Por exemplo, para o identificar corretamente sempre que entra em contato conosco.</p>
        
        <h3>B. Assegurar a qualidade dos produtos atuais, bem como a pesquisa e o desenvolvimento de novos</h3>
        
        <p>A SpecDrive realiza o tratamento de dados pessoais com o objetivo de desenvolver melhorias e atender às expectativas dos seus clientes no que diz respeito aos elevados padrões de qualidade dos produtos e serviços, no ensejo de disponibilizar soluções inovadoras e atualizadas. Compatibilizamos a proteção dos dados do titular com a necessidade de desenvolvimento econômico e tecnológico.</p>
        
        <h3>C. Ações de marketing, comunicações promocionais e pesquisas de mercado</h3>
        
        <p>Os dados fornecidos por você poderão ser tratados com base no nosso legítimo interesse para fins promocionais e ações de marketing (ofertas de produtos e serviços e envio de material), definição de perfil individual de cliente e/ou pesquisas de mercado (não relacionadas com o contrato e/ou serviço). Você está ciente e concorda que poderemos transferir ou compartilhar esses dados com nossos parceiros comerciais e serviços de assistência (a montadora escolhida ou a montadora do último serviço/reparação), sempre respeitada a finalidade.</p>
        
        <h3>D. Cumprimento de obrigações legais ou regulatórias às quais a SpecDrive se encontre sujeita, bem como para o exercício regular de direitos em processo judicial, administrativo ou arbitral</h3>
        
        <p>A SpecDrive encontra-se sujeita a uma multiplicidade de obrigações legais. Poderemos tratar os seus dados pessoais na medida do necessário para o cumprimento dessas obrigações, bem como transmiti-los às autoridades mediante solicitação.</p>
        
        <h3>E. Realizar avaliação de crédito, prevenção de fraude e aplicação de termos e condições dos produtos e serviços, conforme interesse da SpecDrive</h3>
        
        <p>Para cumprir as obrigações decorrentes dos serviços e dos contratos assinados por você, inclusive para o processamento de operações financeiras, trataremos seus dados também para proteger o crédito de forma geral, seus riscos associados e no cumprimento de obrigações legais e regulatórias.</p>
    </div>
    
    <div id="compartilhamento" class="section">
        <h2>6. Com quem podemos compartilhar seus dados</h2>
        
        <p>Ao aceitar esta Política de Privacidade, você está ciente e concorda que em alguns casos, após uma verificação cuidadosa, a SpecDrive poderá transferir os seus dados para montadoras parceiras. A partir desse momento tais empresas passarão, elas próprias, a ser responsáveis pelo tratamento dos seus dados pessoais, com padrões de segurança rígidos e adequados.</p>
        
        <p>Poderá também haver a transferência de dados para bases de dados fisicamente localizadas em outros países, em empresas parceiras, igualmente responsáveis pelo tratamento, com o mesmo padrão de segurança em nível global.</p>
        
        <p>Essa transferência a outras empresas poderá ocorrer para fins de cumprimento dos processos de venda, serviço e administração, bem como para assegurar a qualidade dos produtos atuais, bem como pesquisa e desenvolvimento de novos produtos.</p>
        
        <p>Além disso, também poderemos transferir e compartilhar seus dados pessoais com outras entidades terceiras, como as montadoras e empresas parceiras. Por empresas parceiras entendem-se não apenas aquelas relacionadas às ações de marketing ou indispensáveis para a atender à solicitação de serviço/produto, mas também nossos fornecedores (inclusive de serviços de tecnologia, armazenamento em nuvem, etc.) e outras que sejam relacionadas e necessárias para atender aos interesses legítimos da SpecDrive.</p>
        
        <p>O compartilhamento de dados com entidades terceiras poderá ocorrer nas finalidades descritas nesta Política de Privacidade, no âmbito da prestação de serviços, oferta e comercialização de seus produtos, no desenvolvimento de melhorias e atenção às expectativas dos clientes em relação aos elevados padrões de qualidade da SpecDrive. Ao aceitar esta Política, você concorda com esse tratamento.</p>
        
        <p>Poderá haver o compartilhamento de forma automática em caso de movimentações societárias, como fusão, aquisição e incorporação da SpecDrive.</p>
    </div>
    
    <div id="armazenamento" class="section">
        <h2>7. Durante quanto tempo armazenamos os seus dados pessoais</h2>
        
        <p>Armazenaremos os seus dados apenas pelo período estritamente necessário para as respectivas finalidades de tratamento ou pelo prazo legal, quando aplicável.</p>
        
        <p>Os dados pessoais tratados, com base no nosso legítimo interesse, para fins de ações de marketing, comunicações promocionais e pesquisas de mercado serão conservados por prazo indeterminado a partir da coleta. Resguardamos, contudo, o seu direito de, a qualquer tempo, solicitar a exclusão dos seus dados ou a cessação de tal tratamento.</p>
    </div>
    
    <div id="transferencia" class="section">
        <h2>8. Transferência internacional de dados</h2>
        
        <p>Os seus dados pessoais podem ser armazenados fora do Brasil pelos nossos fornecedores ou prestadores de serviços ou por empresas parceiras, sempre para as finalidades descritas nesta Política de Privacidade.</p>
        
        <p>Ao concordar com esta Política de Privacidade, você também entende e consente com essa "transferência internacional de dados", como previsto na legislação brasileira. Garantimos que os seus dados pessoais eventualmente transferidos para outros países também serão tratados de acordo com as medidas de segurança apropriadas no exterior.</p>
    </div>
    
    <div id="seguranca" class="section">
        <h2>9. Como mantemos os seus dados pessoais seguros</h2>
        
        <p>A SpecDrive envida os melhores esforços para implementar e manter medidas de segurança física, eletrônica e procedimental destinadas a proteger os seus dados pessoais em conformidade com os requisitos de proteção de dados aplicáveis. Dentre outras, implementamos medidas como coleta digital de dados apenas de forma criptografada, proteção dos sistemas de TI através de firewalls e controles de acesso restrito e monitorização permanente dos acessos aos sistemas de tecnologia da informação, para o fim de prevenir e impedir o acesso, a divulgação e o uso indevido dos seus dados pessoais.</p>
        
        <p>Embora nossas medidas de segurança sejam tomadas para evitar ao máximo qualquer exposição de seus dados pessoais, reconhecemos que a internet traz riscos a ela inerentes e entendemos que não podemos anulá-los por completo. No entanto, garantimos que a proteção de seus dados pessoais é uma das nossas prioridades e que, caso algum incidente aconteça, adotaremos todas as medidas possíveis para minimizar eventuais danos.</p>
        
        <p>Caso lhe tenhamos enviado uma senha ou você a tenha escolhido para efeito de acesso a determinadas áreas do nosso website ou de outros portais, aplicações ou serviços que sejam operados por nós, é de sua inteira responsabilidade mantê-la confidencial e segura. Pedimos-lhe, em especial, que não divulgue nem compartilhe a sua senha pessoal.</p>
    </div>
    
    <div id="direitos" class="section">
        <h2>10. Quais são os seus direitos enquanto titular e como exercê-los</h2>
        
        <p>A legislação brasileira lhe concede uma série de direitos em relação aos seus dados pessoais e você poderá exercê-los pelo nosso canal de atendimento específico, destinado a esse assunto, o Fale com a SpecDrive.</p>
        
        <p>Veja abaixo os seus principais direitos relacionados aos dados pessoais:</p>
        
        <ul>
            <li>Solicitar a confirmação da existência de tratamento de dados pessoais;</li>
            <li>Ter acesso aos seus dados, por meio da solicitação de disponibilização de uma cópia dos dados pessoais que nos forneceu;</li>
            <li>A correção de dados incompletos, inexatos ou desatualizados;</li>
            <li>A revogação, a qualquer momento, do seu consentimento anteriormente concedido para o tratamento de dados (o que terá efeitos para o futuro), bem como a informação sobre a possibilidade de você não consentir com determinado tratamento de dados e as consequências de não consentir;</li>
            <li>A anonimização, o bloqueio ou a eliminação de dados desnecessários, excessivos ou tratados em desconformidade com a lei, nas hipóteses legais;</li>
            <li>A portabilidade dos seus dados pessoais a outro fornecedor de serviço ou produto, observados os segredos comercial e industrial;</li>
            <li>A informação sobre as entidades públicas e privadas com as quais realizamos uso compartilhado de dados;</li>
            <li>A revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais.</li>
        </ul>
    </div>
</div>