* {
    font-family: 'Poppins', sans-serif;
}

.car-filter {
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #214D72;
    font-family: 'Poppins', sans-serif;
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 12px 0;
}